.columns {
  padding: 40px 40px 10px 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.column-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.column-title span {
  font-size: 18px;
  margin-left: 4px;
  color: #727478;
}

.column-title h2 {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.column-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.no-cards {
  display: flex;
  align-items: center;
  color: #727478c5;
  height: 100%;
}

.title-profile-image {
  background-color: #727478;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1600px) {
  .columns {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 20px 10px 20px;
  }
}

@media screen and (max-width: 1100px) {
  .columns {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 750px) {
  .columns {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
