.columns {
  padding: 40px 40px 10px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.column-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.column-title span {
  font-size: 18px;
  margin-left: 4px;
  color: #727478;
}

.column-title h2 {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.column-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
